# ?  A Basic setup and initial information to run the backend

PORT= 3001
# any backend port that you are comfortable to run the server.. 


#* better auth secret key
BETTER_AUTH_SECRET= XXXXXXXXXXXXXXXXXXXX 
# go to better auth and bring generate the secrete and replace it


# * PostgresSQL Database..
DATABASE_URL= "example.neonDB/foodHub/backend"
# your comfortable postgresSql database like to store all information   



#* better auth url consider as backend base url 
BETTER_AUTH_URL=http://localhost:3001
# your backend url for connecting better auth with your express server.



#* frontend url for cors
FRONTEND_URL=http://localhost:3000
# apply your frontend/client-side